.base{
    -fx-background-color: #33ff99;
}
.Numeri{
    -fx-background-color: #1a1a1a;
}

.utility{
 -fx-background-color:#333333;
}


.display{
   -fx-background-color:  #ffffff;
}
#funzioni{
    
    -fx-background-color: #33ff99;
}